@import "../../stylesheets/Variables.scss";

.mainContent {
    display: flex;
    justify-content: center;
    margin: 30px 20px;

    @media (max-width: $mobile) {
        flex-direction: column;
    }
}
.productInfo {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 20px;
    font-family: $headingFont;
    font-size: 1.5rem;
}
.title {
    font-family: $headingFont;
    font-size: 3rem;
}
.carouselContainer {
    min-width: 400px; 
    max-width: 600px; 
    width: 100%;
    margin-right: 30px;

    @media (max-width: $mobile) {
        max-width: 400px;
        min-width: 150px;
    }
}

.productImg {
    width: 100%;
}