@use  "../../stylesheets/Variables.scss" as vars;

.aboutContainer {
    margin: 4% 20% 4% 20%;
    padding: 20px;


    &::after {
        content: "";
        display: table;
        clear: both;
    }

    &.one {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.three {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 100px 50px 100px 
    }
}

.carouselContainerOne {
    margin: 0px 50px 20px 50px;
    min-width: 400px;
}

.carouselContainerTwo {
    float: right;
    margin: auto 50px auto 50px;
    min-width: 400px;
}

.aboutText {
    font-family: vars.$headingFont;
    font-size: 1.3rem;
    line-height: 2;
    text-align: center;
    margin: auto;

    &.sawmillText {
        background-color: white;
    }
}

.aboutQuote {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: vars.$headingFont;
    font-size: clamp(1rem, 3vw, 4rem); // Responsive font sizing
    font-weight: 400;
    padding: 80px;
    color: white;
    background-color: rgba($color: rgb(39, 38, 38), $alpha: 0.3);
    border-radius: 15px;
    text-align: center;
    width: auto; // Make width scale with container
    max-width: 100rem;
    z-index: 2;
}

.quoteMarks {
    display: inline;
    font-family: vars.$quoteFont;
}

.planerImg {
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.quoteBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media (max-width: vars.$tablet) {

    .aboutContainer.one,
    .aboutContainer.two,
    .aboutContainer.three {
        display: flex;
        flex-direction: column-reverse;
        margin: 30px;
        padding: 0px;
    }

    .carouselContainerOne,
    .carouselContainerTwo {
        margin: 0;
        float: none; 
        width: 50%;
        align-self: center;
    }

    .aboutText {
        text-align: center;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.8;
        margin: 0px auto;
        padding: 30px;
    }

    .aboutQuote {
        position: static;
        display: block;
        width: 100%;
        transform: none;
        padding: 40px 20px;
        font-size: clamp(1.5rem, 5.5vw, 2rem);
        background-color: vars.$brownColorLight;
        border-radius: 0px;
        margin: 0px;
    }

    .planerImg {
        object-fit: cover;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .quoteBanner {
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
