@import "../../stylesheets/Variables.scss";

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.carouselBlur {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: 650px 450px;
    background-position: center;
    filter: blur(15px);
    z-index: -1;
}

.slide {
    position: absolute;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 7px grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.slide.show {
    opacity: 1;
    z-index: 0;
}


.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: rgba($color: #ffffff, $alpha: 0.5);
    transition: 0.3s ease-in-out;
    z-index: 2;

    &:hover {
        cursor: pointer;
        color: white;
    }
}

.arrowLeft {
    left: 1rem;
}
.arrowRight {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
    gap: 0.1rem;
}

.indicatorBtn {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    height: 0.5rem;
    width: 3rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0px 0px 5px grey;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: white;
    }
}

