@import "../../stylesheets/Variables.scss";

.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    background-color: $brownColorLight;
    gap: 20px;

    @media (max-width: $tablet) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }

}

.imgContainer {
    display: flex;
    justify-content: end;
}

.textContainer{
    background-color: white;
    color: $brownColor;
    padding: 40px;
    width: auto;
    margin-left: -120px;
    z-index: 5;

    @media(min-width: $desktop) {
        width: 35vw;
    }

    @media (max-width: $tablet) {
      margin: 0px;
    }
}
.aboutHeading {
    font-family: $headingFont;
    font-size: 2rem;
    text-align: left;

}

.aboutPara{
    text-align: left;
    padding: 10px;
    font-family: $headingFont;
    line-height: 1.8;
    font-size: 1.3rem;
}

.bannerImg {
    height: 35rem;
    margin-left: 50px;
}

.bannerVideo{
    width: 500px;
    position: relative;
}
