@use "../../stylesheets/Variables.scss" as vars;

.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    background-color: vars.$brownColorLight;
    gap: 20px;

    @media (max-width: vars.$tablet) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }

}

.imgContainer {
    display: flex;
    justify-content: end;
}

.textContainer{
    background-color: white;
    color: vars.$brownColor;
    padding: 40px;
    width: auto;
    margin-left: -120px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: vars.$desktop) {
        width: 35vw;
    }

    @media (max-width: vars.$tablet) {
      margin: 10px;
    }
}
.aboutHeading {
    font-family: vars.$headingFont;
    font-size: 2rem;
    text-align: left;

}

.aboutPara{
    text-align: left;
    padding: 10px;
    font-family: vars.$headingFont;
    line-height: 1.8;
    font-size: 1.3rem;
}

.bannerImg {
    height: 35rem;
    margin-left: 50px;
}

.bannerVideo{
    width: 500px;
    position: relative;
}

.thankYou {
    font-family: vars.$handwriting;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -4px;
    text-align: center;
}

.moreBtn {
    font-family: vars.$headingFont;
    font-weight: 700;
    letter-spacing: 5px;
    color: vars.$whiteColor;
    background-color: vars.$brownColor;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    border: none;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.08);
    }
}
