@import "../../stylesheets/Variables.scss";


.productScroll {
    height: 400px;
    text-align: center;
    font-family: $headingFont;
    font-size: 3rem;
    padding: 20px;
    color: $brownColor;
    letter-spacing: 10px;

}