@import "../../stylesheets/Variables.scss";

.productCard {
    overflow: hidden;
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0 auto;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.01);
    }
}

.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $headingFont;
    font-size: 1.4rem;
}

.productTitle {
    font-family: $headingFont;
    color: $brownColor;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.productLink {
  text-decoration: none;
  color: $brownColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImg {
    height: 400px;
    object-fit: cover;

    @media (max-width: $mobile) {
      height: 300px;
    }
  }

  .productPrice {
    margin: 0;
  }

  .productStatus {
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px;
  }