@use "../../stylesheets/Variables.scss" as vars;
@use "sass:color";

.heroContainer {
    position: relative;
    margin-top: -300px;
    width: 100%;
    height: 150vh;
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: vars.$tablet) {
        margin-top: -20px;
        height: 500px;
    }
}

.heroTextContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 350px;
    padding-left: 50px;
    z-index: 2;
    width: 100%;

    @media (max-width: vars.$tablet) {
        padding: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
        text-align: center;
    }
}


.heroPara {
    color: vars.$whiteColor;
    font-family: vars.$headingFont;
    font-size: clamp(24px, 5vw, 58px);
    z-index: 2;

    @media (max-width: vars.$tablet) {
        font-size: clamp(18px, 6vw, 58px);
        color: vars.$whiteColor;
        margin: 0px;
        padding: 0px 20px;
    }
}

.heroParaTwo {
    font-family: vars.$headingFont;
    color: vars.$whiteColor;
    font-size: 22px;
    letter-spacing: 0.3rem;
    font-weight: 500;
    z-index: 2;

    @media (max-width: vars.$tablet) {
        font-size: clamp(8px, 14px, 18px);
        letter-spacing: 0.1rem;
        width: 100%;
        padding: 20px 20px;
                  
    }
}

.heroBtn {
    font-family: vars.$headingFont;
    font-size: clamp(14px, 2.5vw, 18px);
    letter-spacing: 5px;
    text-decoration: none;
    color: vars.$whiteColor;
    background-color: vars.$brownColor;
    border-radius: 60px;
    margin-top: 20px;
    padding: 10px 30px;
    box-shadow: none;
    border: none;
    transition: 0.3s ease-in-out;
        z-index: 2;

    &:hover {
        transform: scale(1.08);  
    }

    &:active {
        background-color: color.scale(vars.$brownColor, $lightness: -10%);
    }

    @media(max-width: vars.$tablet){
        margin-top: 160px;
        align-self: center;
    }

}


