@use "../../stylesheets/Variables.scss" as vars;

.heroContainer {
    position: relative;
    margin-top: -220px;
    width: 100%;
    height: 900px;

    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: vars.$tablet) {
        position: relative;
        width: 100%;
        height: 400px;
    }
}

.heroTextContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    position:absolute;
    top: 30%;
    left: 5%;
    z-index: 1;

    @media (max-width: vars.$tablet) {
        position: relative;
        left: 0;
        top: 400px;
        align-items: center;
        padding: 20px;
       
    }
}

.heroPara {
    color: vars.$whiteColor;
    font-family: vars.$headingFont;
    font-size: 58px;
    text-align: left;

    @media (max-width: vars.$tablet) {
       font-size: 28px;
       color: vars.$brownColor;
       text-align: center;
    }
}

.heroParaTwo {
    font-size: 22px;
    letter-spacing: 0.3rem;
    font-weight: 500;
}


.heroBtn {
    font-family: vars.$headingFont;
    font-weight: 700;
    letter-spacing: 5px;
    color: vars.$whiteColor;
    background-color: vars.$brownColor;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    box-shadow: none;
    border: none;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.08);  
    }
}

