@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
//Responsive
$mobile: 600px;
$tablet:768px;
$desktop: 1024px;

//Colors
$brownColor: rgb(75, 55, 40);
$brownColorTranslucent: rgba(75, 55, 40, 0.5); 
$brownColorLight: rgba(180, 119, 72, 0.425);
$whiteColor: white;
$whiteColorTranslucent: rgba(255,255,255,0.35);


//Fonts
$headingFont: "Cormorant",
serif;
$paraFont: "Raleway",
sans-serif;
$quoteFont: "Palanquin",
sans-serif;
