@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
@font-face {
  font-family: "Handwriting";
  src: url("/assets/fonts/Handwriting1-Regular.ttf") format("truetype");
}
.offerBanner {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: rgb(75, 55, 40);
  height: auto;
  width: 100%;
  z-index: 10;
  transition: opacity 1s ease, transform 0.4s ease, background-color 0.5s ease, box-shadow 0.3s ease;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .navbar {
    height: 140px;
  }
}
.navbar.homePage {
  background-color: rgba(75, 55, 40, 0.5);
}
.navbar.homePage.scrolled {
  background-color: rgb(75, 55, 40);
}
@media (max-width: 768px) {
  .navbar.homePage {
    background-color: rgb(75, 55, 40);
  }
}
.navbar.homePage:hover {
  background-color: rgb(75, 55, 40);
}
.navbar.scrolled {
  background-color: rgb(75, 55, 40);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.navbar.scrolled:hover {
  background-color: rgb(75, 55, 40);
}
.navbar.visible {
  opacity: 1;
  transform: translateY(0);
}
.navbar.hidden {
  opacity: 1;
  transform: translateY(-100%);
}

.navContainer {
  display: grid;
  justify-items: center;
}
@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 50px;
  list-style: none;
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}
@media (max-width: 768px) {
  .navMenu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .navMenu.open {
    opacity: 1;
    visibility: visible;
    background-color: rgb(75, 55, 40);
  }
}

.navBtn {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Cormorant", serif;
  font-size: clamp(0.7rem, 1vw, 1.2rem);
  padding: 5px;
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  .navBtn {
    width: 100vw;
    text-align: center;
    padding: 15px 0;
    display: block;
  }
  .navBtn:active {
    background-color: rgb(67.5, 49.5, 36);
    transform: scale(0.98);
  }
}
@media (min-width: 768px) {
  .navBtn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .navBtn:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

#logoImg {
  width: 180px;
  padding: 10px;
}
@media (max-width: 768px) {
  #logoImg {
    width: 150px;
  }
}

.hamburgerIcon {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 60px;
  left: 20px;
}
@media (max-width: 768px) {
  .hamburgerIcon {
    display: block;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -50px;
  background-color: rgb(75, 55, 40);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  list-style: none;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  z-index: 1000;
  min-width: 200px;
}
.dropdownMenu li {
  padding: 10px 20px;
  white-space: nowrap;
}
.dropdownMenu li a {
  color: white;
  text-decoration: none;
  display: block;
}/*# sourceMappingURL=Header.module.css.map */