/* GalleryComponent.module.css */
.gallery {
    display: flex;
    margin: 10px 80px 10px 80px;
    width: auto;
}

.galleryColumn {
    padding-left: 10px;
    background-clip: padding-box;
}

.image {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
