@use "../../stylesheets/Variables.scss" as vars;

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.termsContainer {
    width: 40%;

    @media (max-width: vars.$tablet) {
        width: 80%;
    }
}

.heading {
    font-family: vars.$headingFont;
    font-size: 2.5rem;
    color: vars.$brownColor;
}

.subHeading {
    font-family: vars.$headingFont;
    font-size: 1.5rem;
    color: vars.$brownColor;
}

.mainText {
    font-family: vars.$headingFont;
    font-size: 1rem;
}