@import "../../stylesheets/Variables.scss";

.offerBanner {
    background-color: $brownColor;
    font-family: $headingFont;
    font-size: 1rem;
    color: $whiteColor;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 1000;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code{
    font-family: $paraFont;
}