@import "../../stylesheets/Variables.scss";

.heading {
    font-family: $headingFont;
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    margin: 80px auto 20px auto;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 15px; 
    margin: 0 auto;
    justify-items: center; // Center the product cards horizontally
    grid-auto-rows: auto;

    /* Ensure a max of 4 columns */
    max-width: calc(4 * 400px + 3 * 30px); // Adjust to fit the 4 columns with gaps (3 gaps)
}
